.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button {
  width: 120px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.button-spacing {
  margin-left: 10px;
}